# Dependency directories
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage/

# TypeScript cache
*.tsbuildinfo

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 
/src/generated/prisma
